<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blacklist.demo.mapper.BlacklistInfoMapper">
  <resultMap id="BaseResultMap" type="com.blacklist.demo.entity.BlacklistInfo">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="project_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="user_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="user_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="black_status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="effect_time" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="expired_time" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="create_time" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="update_time" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, project_id, user_id, user_name, black_status, effect_time, expired_time, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_blacklist_user_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_blacklist_user_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.blacklist.demo.entity.BlacklistInfo">
    insert into t_blacklist_user_info (id, project_id, user_id, 
      user_name, black_status, effect_time, 
      expired_time, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{projectId,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{blackStatus,jdbcType=INTEGER}, #{effectTime,jdbcType=BIGINT}, 
      #{expiredTime,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.blacklist.demo.entity.BlacklistInfo">
    insert into t_blacklist_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="blackStatus != null">
        black_status,
      </if>
      <if test="effectTime != null">
        effect_time,
      </if>
      <if test="expiredTime != null">
        expired_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="blackStatus != null">
        #{blackStatus,jdbcType=INTEGER},
      </if>
      <if test="effectTime != null">
        #{effectTime,jdbcType=BIGINT},
      </if>
      <if test="expiredTime != null">
        #{expiredTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blacklist.demo.entity.BlacklistInfo">
    update t_blacklist_user_info
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="blackStatus != null">
        black_status = #{blackStatus,jdbcType=INTEGER},
      </if>
      <if test="effectTime != null">
        effect_time = #{effectTime,jdbcType=BIGINT},
      </if>
      <if test="expiredTime != null">
        expired_time = #{expiredTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blacklist.demo.entity.BlacklistInfo">
    update t_blacklist_user_info
    set project_id = #{projectId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      black_status = #{blackStatus,jdbcType=INTEGER},
      effect_time = #{effectTime,jdbcType=BIGINT},
      expired_time = #{expiredTime,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>